.task__detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.task__form {
  width: 100%;
}

.task__input {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  margin: 50px 0;
  outline: none;
  border: 2px solid transparent;
  padding: 20px;
  border-radius: 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  transition: all 0.2s linear;
}

.task__input::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.task__input:focus,
.task__input:hover {
  color: #f1c40f;
  border: 2px solid #f1c40f;
  border-radius: 20px;
}

.task__detail h2 {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid white;
  padding: 20px;
}

@keyframes FadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item__container {
  display: flex;
  justify-content: space-between;
  animation: FadeUp 1s ease-in-out;
}

.item__left {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #f1c40f;
  padding: 10px;
}

.item__right {
  display: flex;
}

.item__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.item__button i {
  margin: 5px;
}

.hidden {
  display: none;
}
